<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.PI.spoolcutter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_spoolcutter"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_spoolcutter_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpoolCutter"
        tools:targetApi="31">

        <!-- Adicione a chave de assinatura SHA-1 para autenticação do Google -->
        <meta-data
            android:name="com.google.android.gms.firebase.cadClientId"
            android:value="YOUR_WEB_CLIENT_ID" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
